In [1]:
import pandas as pd
from trading_calendars import get_calendar
import sqlite3


def get_stock(code, connection, api):
    
    try:
        sql = "SELECT * FROM stocks WHERE code = '{}'".format(code)
        df = pd.read_sql(sql, connection, index_col=['code'])
    except:
        df = pd.DataFrame()

    if not df.empty:
        return df, True
    
    stock = api.Contracts.Stocks[code]
    
    stock_dict = {
        'code': [stock.code],
        'name': [stock.name],
        'category': [stock.category],
        'day_trade': [stock.day_trade.value]
    }
    
    df = pd.DataFrame(data=stock_dict)
    df = df.set_index('code')
    
    return df, False

In [2]:
import time

def update_stocks(daily_target, connection, api):
    
    main_df = pd.DataFrame()
    
    code_list = []
    
    for codes in daily_target.values():
        code_list.extend(codes)
        
    code_list = list(set(code_list))
    
    for code in code_list:
        
        df, in_db = get_stock(code, connection, api)
        
        if df is not None and not in_db:
            main_df = main_df.append(df, sort=False)
            time.sleep(1)
        
    if not main_df.empty:
        main_df.to_sql('stocks', connection, if_exists='append')
        return main_df

In [3]:
daily_target = {
    pd.to_datetime('2020-09-02'): ['2303', '2603', '2609', '3576', '6443'],
    pd.to_datetime('2020-09-03'): ['2324', '3576', '6443'],
    pd.to_datetime('2020-09-04'): ['1609', '1714', '1802', '2312', '2344', '2349', '2409', '2603', '3481', '3576', '3704', '6116', '6191']
}

daily_target

{Timestamp('2020-09-02 00:00:00'): ['2303', '2603', '2609', '3576', '6443'],
 Timestamp('2020-09-03 00:00:00'): ['2324', '3576', '6443'],
 Timestamp('2020-09-04 00:00:00'): ['1609',
  '1714',
  '1802',
  '2312',
  '2344',
  '2349',
  '2409',
  '2603',
  '3481',
  '3576',
  '3704',
  '6116',
  '6191']}

In [ ]:
import shioaji as sj

api = sj.Shioaji()
api.login(
    person_id="YOUR_ID",
    passwd="YOUR_PASSWORD",
    contracts_cb=lambda security_type: print(f"{repr(security_type)} fetch done."))

# api.logout()

connection = sqlite3.connect('data.db')

In [5]:
update_stocks(daily_target, connection, api)

      name category day_trade
code
1802    台玻       08       Yes
6116    彩晶       26       Yes
1609    大亞       06       Yes
2344   華邦電       24       Yes
2603    長榮       15       Yes
2409    友達       26       Yes
2609    陽明       15        No
2312    金寶       31       Yes
6191   精成科       28       Yes
3576  聯合再生       26        No
3704   合勤控       27       Yes
6443    元晶       26        No
3481    群創       26       Yes
2324    仁寶       25       Yes
2303    聯電       24       Yes
2349    錸德       26        No
1714    和桐       21       Yes

In [9]:
get_stock('2303', connection, api)
get_stock('2303', connection, api)[0]
get_stock('2303', connection, api)[0].iloc[0]['day_trade']
get_stock('2303', connection, api)[0].iloc[0]['day_trade'] == 'Yes'

True

In [10]:
codes = ['2303', '2603', '2609', '3576', '6443']
day_trading_codes = [code for code in codes if get_stock(code, connection, api)[0].iloc[0]['day_trade'] == 'Yes']
day_trading_codes

['2303', '2603']