In [1]:
import shioaji as sj
api = sj.Shioaji()
api.login(person_id="O100318574",
         passwd="YHHung0903",
         contracts_cb=lambda security_type: print(f"{repr(security_type)} fetch done."))

/opt/anaconda3/lib/python3.8/site-packages/shioaji/__init__.py:20: Warning: Mac OS currently don't provide ca module all function about placing order is not working.
  warnings.warn("Mac OS currently don't provide ca module all function about placing order is not working.", Warning)

Response Code: 0 | Event Code: 0 | Info: host '203.66.91.161:80', hostname '203.66.91.161:80' IP 203.66.91.161:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up
<SecurityType.Index: 'IND'> fetch done.

[Account(account_type=<AccountType.H: 'H'>, person_id='O100318574', broker_id='9A92', account_id='0034431', username='洪英皓'),
 StockAccount(person_id='O100318574', broker_id='9A92', account_id='0299558', signed=True, username='洪英皓\u3000\u3000')]

<SecurityType.Future: 'FUT'> fetch done.
<SecurityType.Stock: 'STK'> fetch done.
<SecurityType.Option: 'OPT'> fetch done.

In [2]:
api.Contracts.Stocks['2330']

Stock(exchange=<Exchange.TSE: 'TSE'>, code='2330', symbol='TSE2330', name='台積電', category='24', unit=1000, limit_up=669.0, limit_down=549.0, reference=609.0, update_date='2021/03/03', margin_trading_balance=956, short_selling_balance=32, day_trade=<DayTrade.Yes: 'Yes'>)

In [14]:
import pandas as pd
import sqlite3

def get_stock(code, connection, api):
    try:
        sql="select * from stocks where code = '{}'".format(code)
        df=pd.read_sql(sql, connection, index_col=['code'])
    except:
        df = pd.DataFrame()
    
    if not df.empty:
        return df, True
    
    stock = api.Contracts.Stocks[code]
    
    stock_dict = {
        'code': [stock.code],
        'name': [stock.name],
        'category': [stock.category],
        'category': [stock.day_trade.value]
    }
    df = pd.DataFrame(data=stock_dict)
    df = df.set_index('code')
    
    return df, False

In [15]:
connection = sqlite3.connect('data.db')
df, in_db = get_stock('2409', connection, api)

print(in_db)
df

False

     name category
code
2409   友達      Yes